<form action="/admin/users/add" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <label for="roles">Roles:</label>
    <select name="roles" id="roles" multiple>
        {{#roles}}
            <option value="{{_id}}">{{name}}</option>
        {{/roles}}
    </select>
    <button type="submit">Guardar</button>
</form>