<form action="/admin/resources/add" method="post">
    <label for="path">Ruta:</label>
    <input type="text" name="path" id="path">
    <label for="description">Descripción:</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <button type="submit">Guardar</button>
</form>