<table>
    <tr>
        <th>Ruta</th>
        <th>Descripción</th>
    </tr>
    {{#resources}}
        <tr>
            <td><a href="/admin/resources/edit/{{_id}}">{{path}}</a></td>
            <td>{{description}}</td>
        </tr>
    {{/resources}}
</table>

